@import "tailwindcss";
@import "./includes/fonts.css";
@import "./includes/inputs.css";
@import "./includes/alerts.css";
@import "./includes/default-layout.css";
@import "./includes/panel-layout.css";
@source "./pages/";
@source "./layouts/";
@source "./components/";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-ml: 56rem;
  --text-4\.5xl: 2.5rem;
  --text-4\.5xl--line-height: 1.2;
  --color-primary-navy-darker: #0c0e13;
  --color-primary-darker: #1D1D1D;
  --color-primary-dark: #282828;
  --color-primary-light: #383838;
  --color-primary-lighter: hsl(0, 0%, 85%);
  --color-primary-heavy-light: #e6e6e6;

  /* INDEX PAGES */
  --1fr-auto-1fr: 1fr auto 1fr;

  /* USER PANEL */
}

@layer base {
  * {
    font-family: "DanaFaNum", "Mulish", sans-serif;
    scrollbar-width: thin;
    text-decoration: none;
  }
  html,
  body {
    @apply scroll-smooth;
    direction: rtl;
  }
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    @apply w-2;
  }
  a {
    @apply text-inherit;
  }
  
}

@layer components {
  .layout-blurs {
    @apply absolute size-full z-[-1] overflow-hidden pointer-events-none;
    &::before,
    &::after,
    ::after,
    ::before {
      content: "";
      width: 1px;
      height: 1px;
      position: absolute;
      border-radius: 50%;
      transform: translate3d(0, 0, 0);
      will-change: filter;
    }
    &::before {
      right: 0;
      top: -500px;
      box-shadow: 0 0 1100px 1100px var(--color-blue-500),
        0 0 500px 500px var(--color-indigo-500);
      opacity: 0.2;
    }
    &::after {
      left: -50px;
      top: 33%;
      box-shadow: 0 0 500px 500px var(--color-yellow-800);
      opacity: 0.15;
    }
    .group-1 {
      &::before {
        right: -10px;
        top: 66%;
        opacity: 0.15;
        box-shadow: 0 0 450px 450px var(--color-emerald-700);
      }
    }

  }
  .glass, .hover\:glass:hover {
    @apply bg-gradient-to-b from-white/9 to-white/4 backdrop-blur-sm;
  }
  .glass {
    @apply border border-white/8;
  }

  @media screen and (min-width: 48rem) {
    .md\:glass {
      @apply bg-gradient-to-b from-white/9 to-white/4 backdrop-blur-sm border border-white/8;
    }
  }
}

@layer utilities {
  .container {
    @apply w-full mx-auto px-4 max-w-280;
  }
  .linked-text {
    @apply text-blue-300 hover:text-blue-400;
  }
  .card {
    @apply float-right w-full;
  }
  .iran-text {
    background: #fff linear-gradient(5deg, #d14545 0%, #fff 50%, #3c9e53 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }
  .page-enter-active,
  .page-leave-active,
  .layout-enter-active,
  .layout-leave-active {
    @apply transition-all duration-100;
  }
  .page-enter-from,
  .page-leave-to,
  .layout-enter-from,
  .layout-leave-to {
    @apply opacity-0;
  }
}