@font-face {
    font-family: "DanaFaNum";
    src: url("../../fonts/DanaFaNum-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DanaFaNum";
    src: url("../../fonts/DanaFaNum-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Mulish";
    src: url("../../fonts/Mulish-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mulish";
    src: url("../../fonts/Mulish-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}